//HEADER STYLES
.navBlog {
    @include navStyle;
    .nav__item:nth-child(4) a {
        color: $offWhite;
    }
}
//HEADER STYLES END

//MAIN STYLES

.blogSection {
    padding: 20px;
    background-color: white;
    margin: 30px 0;
}

.mainBlog {
    @include mainStyle;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.mainContent {
    width: calc(70% - 30px);
    .blogInfo{
        font-style: italic;
        margin: 15px 0;

        span {
            color: $darkBlue;
        }
    }

    &__article {
        border-bottom: 5px solid $orange;

    }

    &__comment {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        img {
            width: 90px;
            height: 90px;
            margin-right: 30px;
        }

        div {
            // width: calc(70% - 30px);
            .commentDate {
                font-style: italic;
                color: $darkBlue;
            }

        }
    }

    &__comment:last-child {
        border-bottom: 5px solid $orange;
    }
}


//MAIN STYLES END

//ASIDE STYLES
.asideContent {
    width: 30%;

    a {
        color: $darkBlue;
        font-weight: bold;
    }

    ul {
        list-style-type: none;

        li::before {
            content: "\2022";
            color: orange;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: 1em;            
        }
    }
}

//ASIDE STYLES END




