@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');

    // font-family: 'Lora', serif;

    // font-family: 'Roboto', sans-serif;
$black: #2c2c2c;
$darkBlue:#285e64;
$orange: #f6a823;
$gray: #4f4f4f;
$lightBlue: #05afc1;
$red: #a82706;
$offWhite: #f0efed;

@mixin smallBoxShadow ($color)  {
    box-shadow: 25px 25px $color;
}

@mixin sectionStyle ($color:$offWhite) {
    background-color: $color;
    padding: 80px 0;
}

@mixin navStyle  {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item {
            list-style-type: none;
            display: inline-block;
        }

        &__item:nth-child(3) a {
            font-size: 3.7rem;
            font-weight: bold;
        }
    }
}

//SKIP TO MAIN LINK STYLES
.skipLink {
    position: absolute;
    left: -1000px;
}

.skipLink:focus,
.skiplink:active {
    left: 20px;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1400px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    line-height: 1.4;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: $black;
}


//REUSABLE ELEMENTS STYLES

.moreButton {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 40px;
    padding: 15px 30px;
    background-color: $lightBlue;
}

.moreButton:hover,
.moreButton:focus,
.moreButton:active {
    background-color: $darkBlue;
}

.headingBlogCont {
    position: absolute;
    font-size: 8rem;
    bottom: -55px;
    left: 0;
    padding: 0;
    margin: 0;
}


h3 {
    font-weight: bold;
    font-size: 3.2rem;
    margin-bottom: 20px;
}