@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');

$black: #2c2c2c;
$darkBlue:#285e64;
$orange: #f6a823;
$gray: #4f4f4f;
$lightBlue: #05afc1;
$red: #a82706;
$offWhite: #f0efed;

@mixin smallBoxShadow ($color)  {
    box-shadow: 25px 25px $color;
}

@mixin sectionStyle ($color:$offWhite) {
    background-color: $color;
    padding: 80px 0;
}

@mixin headingStyle ($fontSize) {
    font-weight: bold;
    font-size: $fontSize;
    margin-bottom: 20px;
    z-index: 9;
}

@mixin mainStyle {
    background-color: $offWhite;
    padding: 50px 0;
}

//SKIP TO MAIN LINK STYLES
.skipLink {
    position: absolute;
    left: -1000px;
}

.skipLink:focus,
.skiplink:active {
    left: 20px;
    background-color: red;
}

//SKIP TO MAIN LINK STYLES END


html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1400px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    line-height: 1.4;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

input[type="checkbox"],
    .burger {
        display: none;
    }

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: $black;
}


//REUSABLE ELEMENTS STYLES

.moreButton {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 40px;
    padding: 15px 30px;
    background-color: $lightBlue;
}

.moreButton:hover,
.moreButton:focus,
.moreButton:active {
    background-color: $darkBlue;
}

h1 {
    font-size: 12rem;
    font-family: 'Lora', serif;
    margin: 0;
    position: relative;
    z-index: 5;
}

h2 {
    position: absolute;
    font-size: 8rem;
    bottom: -55px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
}

h3 {
    @include headingStyle(3.2rem);
}

h4 {
    @include headingStyle(2.4rem);
}

nav {
    padding: 20px 0;
    margin: 0 auto;
    font-family: 'Lora', serif;
    position: relative;
    z-index: 10;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        min-width: 500px;
        margin: 0 auto;
        &__item {
            list-style-type: none;
            display: inline-block;
        }

        &__item:nth-child(3) a {
            font-size: 3.7rem;
            font-weight: bold;
        }
    }
}

form {
        display:flex;
        flex-wrap: wrap;

        input[type=text] {
            width: calc(50% - 10px);
            font-style: italic;

            &.nameInput {
                margin-right: 20px;
            }
        }

        textarea {
            width: 100%;
            margin-top: 40px;            
        }

        input, textarea {
            font-style: italic;
            padding: 20px;
            border: none;
        }

        .moreButton {
            width: 100%;
            text-align: center;
            border: none;
        }
    }