header {
    background-color: $orange;
    position: relative;
    
}

.navMain {
    .nav__item:nth-child(1) a {
        color: $offWhite;
    }
}


.mainHeading {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__container {
        position: relative;
        left: 30px;
    }

    img {
        position: absolute;
        top: -3rem;
        left: -3rem;
        width: 14rem;
    }
}

.heroImg {
    width: 40%;
    position: absolute;
    right: 25px;
    bottom: -10px;
    z-index: 1;
    @include smallBoxShadow(white);
}