//WHO IS SOPHIE STYLES
.whoIsSophie {
    @include sectionStyle;
}
//WHO IS SOPHIE STYLES END

//GALLERY STYLES

.gallery {
    display: flex;
}

.galleryColumn {
    width: 50%;

    &__text {
        padding: 50px;

        &--left {
            @extend .galleryColumn__text;
            text-align: right;
            padding-left: 0;
        }

        &--right {
            @extend .galleryColumn__text;
            padding-right: 0;

        }
    }

    &__img {

        &--left {
            box-shadow: 15px 15px $red, -70px 15px $red ;
            position: relative;
            top:-35px;
        }

        &--right {
            box-shadow: -15px 15px $orange, 70px 15px $orange ;
            position: relative;
            bottom:-35px;
        }
    }
    
}



//GALLERY STYLES END

//INFO SECTION STYLES

.info {
    @include sectionStyle;

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin: 60px 0 60px 60px;
        width: calc(50% - 60px);
        i {
            position: absolute;
            top:0;
            left: -60px;
            padding: 15px;
            border-radius: 50%;
            background-color: $orange;
        }
        
    }
}

//INFO STYLES END

//JOURNEY SECTION STYLES
.journey {
    @include sectionStyle;


    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            align-self: start;
        }
    }

    &__img {
        @include smallBoxShadow($orange);
        margin-right: 100px;
    }


}

//JOURNEY SECTION STYLES END

//BOTTOM GALLERY

.bottomGallery {
    @include sectionStyle(white);
    display: flex;
    justify-content: space-between;

    img {
        width: calc(100%/3 - 20px);
    }
}

//BOTTOM GALLERY END



