@media (max-width:668px) {
    body {
        font-size: 1.6rem;
    }

    .wrapper {
        width: 95%;
    }
    
    h1 {
        font-size: 7rem;
    }

    h2,h3,h4 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    //LANDING PAGE STYLES

    .burger {
        position: absolute;
        display: block;
        font-size: 3rem;
        color: $red;
        top: 20px;
        right: 20px;
        z-index: 4;
    }


    nav .nav {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 0;
        background-color: $lightBlue;
        width: 300px;
        padding: 40px;

        li a {
            font-size: 2rem;
            margin: 20px;
        }

        .sophie {
            display: none;
        }
    }

    input[type="checkbox"]:checked + .nav {
        display: flex;     
    }

    .whoIsSophie {
        padding: 30px 0;
    }

    .gallery {
        flex-direction: column;

        .galleryColumn {
            &--right {
                display: flex;
                flex-direction: column-reverse;
            }

            &__img {
                position: static;
            }

            &__text {
                padding: 30px 0;
                text-align: center;
            }
        }
    }
    //LANDING PAGE STYLES END

    // BLOG PAGE STYLES
    .mainContent {
        width: 100%;
    }
    .asideContent {
        display: none;
    }
    // BLOG PAGE STYLES END


}

@media (max-width:480px) {
    //LANDING PAGE STYLES
    .info {
        padding: 40px 0;

        &__container {
            flex-direction: column;
        }

        &__item {
            width: auto;
            margin: 20px 0 20px 60px;
        }

    }

    .journey {
        padding: 20px 0;

        &__container {
            flex-direction: column;
        }

        &__text {
            width: 100%;
        }

        &__img {
            width: 300px;
            margin: 0 auto;
            margin-bottom: 40px;
        }

    }

    .bottomGallery {

        & img {
            width: calc(100%/2 - 10px)
        }
        & img:last-child {
            display: none;
        }
    }

    //LANDING PAGE STYLES END

    //CONTACT PAGE STYLES

    .mainContact .wrapper {
        flex-direction: column-reverse;

        .contactInfo {
            width: 100%;
            text-align: center;
        }

        form {
            width: 100%;
        }
    }

    //CONTACT PAGE STYLES END

}