.wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

nav {
    align-self: center;
    width: 50%;
    margin: 20px;
    font-family: 'Lora', serif;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item {
            list-style-type: none;
            display: inline-block;
        }

        &__item:first-child a {
            color: $white;
        }

        &__item:nth-child(3) a {
            font-size: 3.7rem;
            font-weight: bold;
        }
    }
}
